<header>
  <h1>Please Login</h1>
</header>


<%= form_tag login_path do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %><br><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Login"%>
<% end %>
<br>
  
    <%= link_to "Sign Up ", new_customer_path %>
 