<h3>Here is your cake. If you are satisfied with it, save it!!</h3>
<h3>Cake Style: <%= @tier.cake.style %></h3>
<h4>Tiers in this cake</h4>   


      <br>Tier Flavor: <%= @tier.flavor %><br>
      Tier Filling: <%= @tier.filling %><br>
      <br>Tier Frosting: <%= @tier.frosting %><br>
      <br>Tier Size: <%= @tier.size %> inches<br> 
      <br>Tier Shape: <%= @tier.shape%><br>
      <br>Tier Instructions: <%= @tier.instructions %><br>
      <br><%= hidden_field_tag :cake_id %>
      

<%= link_to "Save this cake", cake_tiers_path(@tier.cake) %><br>
<%= link_to "Edit this cake", edit_cake_path(@tier.cake) %><br>
<%= button_to "Delete This Cake", cake_path(@tier.cake), method: :delete %>


