Cake title: <%= @cake.title %>
Number of tiers: <%= @cake.number_tiers %>
<h2>Tiers in this cake</h2>   
<h4>

      <br>Tier Flavor:<%= @tier.flavor %><br>
      Tier Filling:<%= @tier.filling %><br>
      <br>Tier Frosting:<%= @tier.frosting %><br>
      <br>Tier Size:<%= @tier.size %> inches<br> 
      <br>Tier Shape:<%= @tier.size %><br>
      <br>Tier Instructions:<%= @tier.size
</h4>
<%= link_to "Save this cake"%><br>
<%= link_to "Edit this cake", edit_cake_tier_path(@cake[:id], @tier)%><br>
<%= link_to "Delete this cake" %><br>
