<h3><%= "#{current_customer.username} Select the cake you would like to view" %></h3>
<% @cakes.each do | cake | %>
Cake Title <%= cake.title %><br>
Number of Tiers <%= cake.number_tiers %>
<%= link_to "View your cake ", tiers_path(@cake) %><br>

<%= link_to "Create a new cake", new_customer_cake_path(current_customer) %><br>
<% end %>

