<%= render 'shared/links' %>


<%= form_tag("/cakes", method: "get") do %>
<%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>

<% end %>

 <% if @cakes.empty? %>
   <h2> You have no cakes yet. Please make a cake 
   <%= link_to "Create a new cake", new_customer_cake_path(current_customer) %></h2><br>
   <% else %>
   <%= render partial: "cakes", locals: {cakes: @cakes} %>

   <% end %>



     



