<h3><%= "#{current_customer.username} Select the cake you would like to view" %></h3>
<% @cakes.each do | cake | %>
Cake Title <%= cake.title %><br>
Number of Tiers <%= cake.number_tiers %>
<% @tiers.each do |tier| %>
    <h4>
      <%= tier.flavor %><br>
      <%= tier.filling %><br>
      <%= tier.frosting %><br>
      <%= tier.size %> inches<br>
      </h4>
