<!DOCTYPE html>
<html>
  <head>
    <title>CakeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <center><h1>Zsa Zsa's Cake Shop</h1><br>
  <h3>Eat More Cake </h3><center>
  
     <%= yield %>
  <body>
  <% flash.each do |type, msg| %>
      <div id="flash">
        <%= msg %>
      </div>
    <% end %>
  </body>
</html>
